In [192]:
import pandas as pd
import numpy as np
import matplotlib as plt
import sklearn

In [196]:


# Leer y limpiar
dat_excel = pd.read_excel(
    '14_3_02_Establecimientos_industriales_rama-1.xlsx',
    engine='openpyxl',
    skiprows=2
)
dat_excel = dat_excel.iloc[:-6]
dat_excel = dat_excel.drop(columns=['Otras'])
dat_excel = dat_excel.drop(columns=['Electrónicas'])
dat_excel = dat_excel.drop(columns=['Mecánica'])
dat_excel = dat_excel.rename(columns={'Unnamed: 1': 'Mes'})
dat_excel = dat_excel.reset_index()
dat_excel = dat_excel.rename(columns={'index': 'indice'})
dat_excel = dat_excel.replace('...', 0)
dat_excel = dat_excel.drop(index=0)

# --- Obtener primer año válido desde 'Año / Mes' ---
primer_anio = None
for valor in dat_excel['Año / Mes']:
    if str(valor).isdigit() and len(str(valor)) == 4:
        primer_anio = int(valor)
        break

if primer_anio is None:
    primer_anio = 2001 # predeterminado si no se encuentra ninguno

# --- Eliminar las filas que contienen solo el año ---
dat_excel = dat_excel[~dat_excel['Año / Mes'].apply(
    lambda x: str(x).isdigit() and len(str(x)) == 4
)].copy()

# --- Asignar el año cambiando cada 12 filas ---
num_filas = len(dat_excel)
anios = [primer_anio + (i // 12) for i in range(num_filas)]
dat_excel['Año'] = anios

# Eliminar columna original de temporalidad
dat_excel = dat_excel.drop(columns=['Año / Mes'])
año_col = dat_excel.pop('Año')
dat_excel.insert(1, 'Año', año_col)

# Resultado
num_filas, num_columnas = dat_excel.shape
print(f"\nNúmero de filas: {num_filas}")
print(f"Número de columnas: {num_columnas}")
dat_excel.head(15)

Número de filas: 266
Número de columnas: 8

,indice,Año,Mes,Total,Confeccionistas,Plásticas,Textiles,Pesqueras
2,2,2001,Febrero,47.0,6.0,7.0,8.0,1.0
3,3,2001,Marzo,47.0,6.0,7.0,8.0,1.0
4,4,2001,Abril,47.0,6.0,8.0,8.0,1.0
5,5,2001,Mayo,47.0,6.0,8.0,8.0,1.0
6,6,2001,Junio,47.0,6.0,8.0,8.0,1.0
7,7,2001,Julio,47.0,6.0,8.0,8.0,1.0
8,8,2001,Agosto,47.0,6.0,8.0,8.0,1.0
9,9,2001,Septiembre,47.0,6.0,8.0,8.0,1.0
10,10,2001,Octubre,47.0,6.0,8.0,8.0,1.0
11,11,2001,Noviembre,46.0,5.0,8.0,8.0,1.0
12,12,2001,Diciembre,38.0,5.0,7.0,7.0,0.0
14,14,2001,febrero,45.0,6.0,8.0,8.0,2.0
15,15,2002,marzo,45.0,6.0,8.0,8.0,2.0
16,16,2002,abril,45.0,6.0,8.0,8.0,2.0
17,17,2002,mayo,44.0,6.0,8.0,8.0,2.0

In [7]:
dat_excel2 = pd.read_excel('21_1_01_Remuneracion-promedio-de-los-trabajadores-registrados-del-sector-privado-segun-rama-de-actividad.xlsx', engine='openpyxl')
Gastos_df = dat_excel2
print(Gastos_df.head()) # Para verificar que se cargó correctamente

  Remuneración promedio de los trabajadores registrados del sector privado según rama de actividad, valores corrientes. Provincia de Tierra del Fuego AeIAS  \
0                                                NaN
1                                  Rama de Actividad
2                                                  A
3                                                  1
4                                                  2

                                    Unnamed: 1           Unnamed: 2  \
0                                          NaN                  NaN
1                                          NaN  1995-01-01 00:00:00
2  AGRICULTURA, GANADERIA, CAZA Y SILVICULTURA                  797
3                     Agricultura y ganadería                   923
4          Silvicultura, extracción de madera                   462

            Unnamed: 3           Unnamed: 4           Unnamed: 5  \
0                  NaN                  NaN                  NaN
1  1995-02-01 00:00:00  1995-03-01 00:00:00  1995-04-01 00:00:00
2                  738                  853                  527
3                  821                  974                  528
4                  517                  552                  516

            Unnamed: 6           Unnamed: 7           Unnamed: 8  \
0                  NaN                  NaN                  NaN
1  1995-05-01 00:00:00  1995-06-01 00:00:00  1995-07-01 00:00:00
2                  469                 1049                  707
3                  461                 1246                  789
4                  529                  834                  602

            Unnamed: 9  ...         Unnamed: 352         Unnamed: 353  \
0                  NaN  ...                  NaN                  NaN
1  1995-08-01 00:00:00  ...  2024-03-01 00:00:00  2024-04-01 00:00:00
2                  684  ...               678022               794914
3                  750  ...               760692               905057
4                  603  ...               444725               454192

          Unnamed: 354         Unnamed: 355         Unnamed: 356  \
0                  NaN                  NaN                  NaN
1  2024-05-01 00:00:00  2024-06-01 00:00:00  2024-07-01 00:00:00
2               812801              1358571               980841
3               915482              1607212              1112442
4               511736               691425               633415

          Unnamed: 357         Unnamed: 358         Unnamed: 359  \
0                  NaN                  NaN                  NaN
1  2024-08-01 00:00:00  2024-09-01 00:00:00  2024-10-01 00:00:00
2               980540               849774              1032702
3              1113331               937636              1134138
4               598264               584620               722270

          Unnamed: 360         Unnamed: 361
0                  NaN                  NaN
1  2024-11-01 00:00:00  2024-12-01 00:00:00
2               972527              1513543
3              1050893              1698734
4               712684               959552

[5 rows x 362 columns]

In [ ]:
path = 'datos/pib.csv' # reemplazar por el nombre de archivo
data1 = pd.read_csv(path, skiprows=4)   #skiprows=4 lo que hace es ocultar las columnas que no nsesecito
data1